.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: #75B84B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .btn-flat {
  color: #6DB43F;
}
.navbar-lewagon h3 {
  color: #221E1F;
}

#brand-icon{
  color: #221E1F;
  font-size: 24px;
}