.restaurant-info{
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #FFFFFF;
  text-align: center;
}

.restaurant-name {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
}

.restaurant-category {
  text-align: center;
  
}

.restaurant-number {
  text-align: center;
  font-size: 16px;
}
.restaurant-address {
  text-align: center;
  font-size: 16px;
}